@import '../../_styles.scss';

.timer {
    background-color: yellow;
    text-align: center;

    padding: 7px;
    margin: 5px;

    min-width: 200px;

    display: block;
    clear: right;
    float: left;

    button.active {
        background-color: darken($spk-button-color, 40);
    }

    .timer-time {
        padding: 5px;
        font-size: larger;
        font-weight: 1000;
    }
}